@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('pexels-karolina-grabowska-5706003.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.box {
    position: relative;
    width: 380px;
    height: 520px;
    background: black;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box::before,
.box::after,
.borderLine::before,
.borderLine::after,
.rotateBackground::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    animation-delay: -3s;
}

.borderLine::before,
.borderLine::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box form {
    position: absolute;
    inset: 10px;
    background: gainsboro;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: grid;
    flex-direction: column;
    align-items: center;
}

.box form h2 {
    color: #333;
    font-weight: 500;
    text-align: center;
   
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.box form .inputBox {
    position: relative;
    
    width: 300px;
    padding-top: 20px;
}

.box form .inputBox input {
    width: 100%;
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    color:black;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    transition: border-color 0.3s;
}

.box form .inputBox input:focus {
    border-color: #45f3ff;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 0.75px;
    pointer-events: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    top: 15px;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #333;
    font-size: 0.75em;
    transform: translateY(-8px);
}

.box form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-decoration: none;
}

.box form .links a {
    margin :10px 0;
    font-size: 1em;
    color: black;
    text-decoration: none;
    transition: color s;
}

.box form .links a:hover {
    color:lightcoral;
}

.box form .loginBtn {
    width: 100%;
    height:45px;
    background: lightcoral;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:black;
    font-weight:600;
}


.box form .loginBtn:hover{
    background: transparent;
    border:1px solid lightseagreen;
    border-radius: 150;
}

.box form .loginBtn button {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: black;
    cursor: pointer;
    color: black; 
    font-size: 2em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    transition: background 0.3s;
    position: relative;
    overflow: hidden;
}

.box form .input button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(#45f3ff, #45f3ff);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.box form .input button:hover:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.box form .input button:focus {
    outline: none;
}

.box form .input button:active {
    transform: scale(0.95);
    opacity: 0.8;
}
